<center>
    <div style= "text-align: left; padding-left:18%; padding-right:10%">
      <h1><strong>Compare Your Graphics Options</strong></h1>
    </div></center>
  
    <div class="GPUchart" id="GPUCompare">
    </div>
  
  <br>
  
  <div style= "text-align: right; font-size: 0.8em; padding-left:10%; padding-right:10%">
    <p><sup>1 </sup>Listed Specification from OEM</p>
  </div>





<style>
    h1 {
        font-size: 5rem;
        line-height: 5rem;
      }
      .GPUchart {
        max-width: 200px;
      }
</style>